/target/

.cache-main
.cache-tests

# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

.settings
.classpath

target
build
null
tmp*
temp*
dist
test-output
build.log

.svn
.CVS
.hg*

build.log

.cache*
dependency-reduced-pom.xml

_testOutput
output
/keystore/

/.project
/.vscode
/node_modules

*.png
*.gif
*.jpg