/*navbar*/ 
.wrapper.theme-2-active .navbar.navbar-inverse.navbar-fixed-top {
  background: #c73c3c; }
  .wrapper.theme-2-active .navbar.navbar-inverse.navbar-fixed-top .mobile-only-brand {
    background: #c73c3c; }
  .wrapper.theme-2-active .navbar.navbar-inverse.navbar-fixed-top .nav-header .logo-wrap .brand-text {
    color: rgb(0, 0, 0); }
  .wrapper.theme-2-active .navbar.navbar-inverse.navbar-fixed-top .nav > li > a:active, .wrapper.theme-2-active .navbar.navbar-inverse.navbar-fixed-top .nav > li > a:hover, .wrapper.theme-2-active .navbar.navbar-inverse.navbar-fixed-top .nav > li > a:focus {
    color: #c73c3c; }
.wrapper.theme-2-active .fixed-sidebar-left .side-nav {
  background: #565656; }

/*Icons*/

/*text*/

.basic-text {
  color:white
}

/*logo*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
